extends layout

block content
  div
    div(id="splash-wrapper", class="jumbotron")
      div(class="container")
        div(id="splash")
        div(id="splash-text", class="hero")
  div(class="container marketing")
    div(class="row")
      div(class="col-lg-4")
        img(Class="img-circle", src="/images/phone.svg", style="height:100px;width:100px")
        h2 Mobile Payments
        p The Monni App and Switch&reg; allow users to pay with their mobile phone. 
      div(class="col-lg-4")
        img(Class="img-circle", src="/images/dollar.svg", style="height:100px;width:100px")
        h2 Save Time & Cost
        p Forget about collecting  or paying others to do it. We will wire them to your account. 
      div(class="col-lg-4")
        img(Class="img-circle", src="/images/wrench.svg", style="height:100px;width:100px")
        h2 Free Installation
        p We install and maintain the Switch&reg; for free. Get started today at no cost. 
  div(class="container top-buffer")
    div(class="row")
      div(class="col-md-3 text-center")
        div(class="circle circle-large", style="background-image: url(/images/solution.jpg); background-attachment: scroll; background-color: transparent; width: 150px; height: 150px; background-position: 50% 50%; background-repeat: no-repeat no-repeat;")
      div(class="col-md-7 col-md-offset-1 text-left top-buffer-small")
        h4 Our Solution
        p We have developed an intuitive mobile app that allows users to pay with their phone. All it requires is the push of a button. No more quarters. No More coins. To make this happen we have engineered an alternative to the money slide, the Monni Switch ®. The user simply signs up, connects their credit card, and pays using a secure bluetooth connection. The Monni Switch® registers the signal from the phone, charges the user, and turns on the laundry machine. Easy.     
    div(class="row top-buffer")
      div(class="col-md-3 text-center")
        div(class="circle circle-large", style="background-image: url(/images/quarter.jpg); background-attachment: scroll; background-color: transparent; width: 150px; height: 150px; background-position: 50% 50%; background-repeat: no-repeat no-repeat;")
      div(class="col-md-7 col-md-offset-1 text-left top-buffer-small")
        h4 Save Time & Cost
        p Lets face it. Cash is a dying specie(s). Quarters are not handy for the user, and they are not handy for the laundry machine owner. Why pay a handling fee to coin collection companies, or spend time picking up coins yourself, when you can lean back, and watch the money roll in. Let us help you do just that. 
    div(class="row top-buffer")
      div(class="col-md-3 text-center")
        div(class="circle circle-large", style="background-image: url(/images/installation.jpg); background-attachment: scroll; background-color: transparent; width: 150px; height: 150px; background-position: 50% 50%; background-repeat: no-repeat no-repeat;")
      div(class="col-md-7 col-md-offset-1 text-left top-buffer-small")
        h4 Installation
        p The Monni App is free for the user, and our solution is free for you too. We retrofit your existing washer and dryer units free of charge. We even offer free service. You see, unlike money slides, our approach has no movings part. So don’t expect to see us much. Should you miss us, feel free to call any time.
