extends ../layout

block content
  img(src="/images/monni.png")
  h1 Monni
  h2 A new kind of change
  h3 coming soon
  iframe(src="https://docs.google.com/forms/d/1N32guzaR7q7ZRN50CmRbcsLavX6UNJ7-_KXi4G0-D4s/viewform?embedded=true" width="760" height="342" frameborder="0" marginheight="0" marginwidth="0") Loading...
